
html {
    font-size: 14px;
    font-family: "微軟正黑體","Roboto", sans-serif !important;
}

.page-footer {
    margin-top: 500px; }


.input-field input[type=search]
{
    margin: 0px !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav
{
    box-shadow: none !important;
}

.nav-input  {
  
    height: 90% !important;

}

.input-field label{

    -webkit-transform: none !important;
}

nav .input-field
{
    top: 8px ;
}



.index-content {
    
        padding-top: 200px;
    }

.category-box 
{
    padding-top: 50px;
    padding-bottom: 50px;
}